{% extends "base.html" %}
{% load static %}

{% block content %}
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">1</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">2</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">3</li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"style="text-indent: 0; border: none; color: #000; font-size: 18px; text-align: center;">4</li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                           <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                           <div class="contact_img"></div>
                        </div>
                        <div class="carousel-item">
                           <div class="contact_img"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="mail_section">
                     <h1 class="contact_taital">Contact us</h1>
                     <form method="post" class="post-form">
                        
                           {% csrf_token %}
                           {{ form.as_p }}
                           <div class="send_bt w-100"><a type="submit" class="text-white" onclick="document.forms[0].submit(); return false;">send</a></div>
                           
                     
                    </form>
                    
                    
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
{% endblock %}